{{ form_start(formContact) }}
<input name="_token" type="hidden" value="">
<input name="job_id" type="hidden" value="">
<section class="section-padding">
	<div class="container">
		<div class="text-center mb-80">
			<h2 class="section-title text-uppercase">Drop us a line</h2>
			<p class="section-sub text-center">Whether your needs, desires or wishes are urgent or a little less, they will all be taken care of with the some efficiency by us.</p>
		</div>

		<div class="row">
			<div id="contactForm" class="col-xs-12 col-sm-12 col-md-8">
				<div class="row">
					<div class="col-md-6">
						<div class="input-field">
                            {{ form_widget(formContact.firstname)}}
                            {{ form_label(formContact.firstname, 'First Name')}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-field">
							{{ form_widget(formContact.lastname)}}
                            {{ form_label(formContact.lastname, 'Last Name')}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="input-field">
							{{ form_widget(formContact.email)}}
                            {{ form_label(formContact.email, 'Email')}}
						</div>
					</div>
					<div class="col-md-6">
						<div class="input-field">
							{{ form_widget(formContact.tel)}}
                            {{ form_label(formContact.tel, 'Phone Number')}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-field">
							{{ form_widget(formContact.message)}}
                            {{ form_label(formContact.message, 'Message')}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-offset-3">
						<button type="submit" name="submit" class="btn btn-block gradient primary waves-effect waves-light submit-button">
							Send Message
						</button>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 contact-info mt-40">

				<address>
					<i class="material-icons brand-color">&#xE55F;</i>
					<div class="address">
						<p>Luxury Services is based in Roanne, on Loire department</p>
					</div>
					<i class="material-icons brand-color">&#xE61C;</i>
					<div class="phone">
						<p>+33 (0) 6 60 06 66 00</p>
					</div>
					<i class="material-icons brand-color">&#xE916;</i>
					<div class="phone">
						<p>9 - 22h with 24/7 speaker</p>
					</div>
					<i class="material-icons brand-color">&#xE0E1;</i>
					<div class="mail">
						<p>
							<a href="#!">georges[a]luxuryservices.com</a>
						</p>
					</div>
				</address>
			</div>
		</div>
	</div>
</section>
{{ form_end(formContact) }}
