{{ form_start(registrationForm) }}
<input type="hidden" name="_token" value="">

<div class="input-field">
	{{form_row(registrationForm.email)}}
	<span class="help-block">Type your email address.</span>
</div>
<div class="input-field">
	{{form_row(registrationForm.plainPassword.first)}}
	<i class="fa fa-eye show-password"></i>
	<span class="help-block">Type your password.</span>
</div>
<div class="input-field">
	{{form_row(registrationForm.plainPassword.second)}}
	<i class="fa fa-eye show-password"></i>
	<span class="help-block">Type your password.</span>
</div>
<div class="input-field">
	

{{ form_errors(registrationForm.plainPassword) }}
</div>


<div class="checkbox">
	<input type="checkbox" name="accept-terms" value="1" id="accept-terms" required/>
	<label for="accept-terms">I have read and I accept the
		<a href="#!" target="_blank">Terms Of Use</a>
	</label>
</div>

<button type="submit" class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20">Create an account</button>
<div class="links">
	<a href="{{ path('app_login') }}">Already have an account? Click here</a>
</div>
{{ form_end(registrationForm) }}
